.styles-screen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.list-styles {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.radio-selector {
   display: flex;
   justify-content: center;
   align-items: center;
}


.styles-screen button {
    padding: 10px;
    margin: 10px;
    background: linear-gradient(to right, #874AFF, #FF349E);
    color: white;
    border-radius: 100px;
}
